body {
    font-family: "GidoleRegular", "sans-serif";
    background: #F1F1F1;
    min-height: 100%;
}

a {
  color: #333333; }

hr {
  margin: 10px 14px; }

.is-logo {
  margin-left: -40px; }

.logo {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  float: left;
   }
  .logo:hover {
    text-decoration: none; }

header {
  background: #FFFFFF;
  padding: 10px;
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  header .searchbox-container {
    margin-left: 280px;
    max-width: 600px; }
    header .searchbox-container .input-group {
      margin-top: 5px; }
      header .searchbox-container .input-group .form-control:focus {
        outline: none;
        box-shadow: none; }
      header .searchbox-container .input-group .input-group-btn button {
        margin-top: 2px;
        height: 34px;
        vertical-align: top;
        padding-left: 20px;
        padding-right: 20px;
        background: #F8F8F8;
        border-radius: 0; }

section {
  background: #F1F1F1;
  min-height: 100%;
  z-index: 1; }
  section aside {
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 10px;
    width: 230px;
    background: #FFFFFF;
    border-right: 1px solid #E8E8E8; }
    section aside .nav {
      margin: 0 20px; }
      section aside .nav li a {
        display: block;
        padding: 2px 10px;
        margin: 10px 0; }
        section aside .nav li a:hover {
          color: #FFFFFF;
          background: #333333; }
      section aside .nav li.separator {
        height: 1px;
        background: #E8E8E8; }
    section aside h5 {
        font-weight: bold;
      margin-left: 30px;
      text-transform: uppercase;
      margin-top: 20px; }
    section aside .badge {
      font-size: .8em;
      background: #BBBBBB;
      position: relative;
      top: 1px; }
    section aside #property label {
      display: block;
      cursor: pointer;
      padding: 4px 4px 4px 8px;
      font-weight: normal;
      font-size: .9em;
      margin: 0 0 -1px; }
      section aside #property label:hover {
        color: #FFFFFF;
        background: #333333; }
      section aside #property label input {
        display: none; }
    section aside #property .active label {
      border: 1px solid #337AB7;
      margin-top: -1px; }
    section aside #property .active .badge {
      background: #333333; }

  section article {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 237px;
    margin-right: 10px;
    padding: 10px 0;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    section article #stats {
      padding-right: 14px;
      font-size: .8em;
      line-height: 24px; }
    section article #cards {
      padding: 0 15px; }
    section article #pagination .pagination a {
      background: #F8F8F8;
      padding: 3px 8px;
      color: #333333;
      margin-right: 4px; }
      section article #pagination .pagination a.active {
        border-color: #b5b5b5;
        background: #E8E8E8; }
      section article #pagination .pagination a:hover {
        border-color: #cfcfcf;
        background: #ebebeb; }
    section article .hit {
      margin-bottom: 10px;
      border: 1px solid #F3F3F3; }
      section article .hit em {
        font-style: normal;
        background: #FFFFD4;
        text-decoration: underline; }
      section article .hit .media-object {
        height: 150px;
        width: 110px;
        margin: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center; }
      section article .hit .media-heading {
          margin-top: 5px;
        font-weight: bold;
        font-size: 22px; }
  section .thank-you {
    font-size: .8em;
    margin-top: 18px;
    margin-left: 30px; }
    section .thank-you a {
      color: #CE1312; }

.ais-search-box--input { padding-left: 14px; }

.properties { margin: 5px 0px; }

.properties .badge {
  margin: 2px;
  background: #777777; }

.card-level {
    background-image: url('img/icon_level.png');
    background-repeat: repeat-x;
    height: 10px;
}

.card-rank {
    background-image: url('img/icon_rank.png');
    background-repeat: repeat-x;
    height: 10px;
}

.searchbox-container .input-group-btn {
  vertical-align: top;
}

.card-1 { width: 10px; }
.card-2 { width: 20px; }
.card-3 { width: 30px; }
.card-4 { width: 40px; }
.card-5 { width: 50px; }
.card-6 { width: 60px; }
.card-7 { width: 70px; }
.card-8 { width: 80px; }
.card-9 { width: 90px; }
.card-10 { width: 100px; }
.card-11 { width: 110px; }
.card-12 { width: 120px; }

.card-location { margin: 3px 0px; }
.card-text { max-width: 600px; }
.sbx-sffv { margin-bottom: 4px; }

#coffee {
    margin: 0px 30px;
}

#coffee img {
    height: 45px;
    width: 150px;
}